form
{
    margin: 0 auto;
    width: 600px;
}
.intro
{
    right: 100px;
    padding: 0 25px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.row
{
    background-color: light blue;
    color: brown;
}
.NYCDA
{
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    right: 1px;
    top: 390px;
}
#NYCDApic
{
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    right: 1px;
    top: 289px;
}
#submit_button
{
    font-size: 40px;
    color: blue;
}
